<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acsc.api.dao.ActivityDAO">
    
    <resultMap id="activity" type="com.acsc.commons.entity.Activity">

        <id column="activity_id" property="activityId"/>
        <result column="title" property="title"/>
        <result column="apply_begin" property="applyBegin"/>
        <result column="apply_end" property="applyEnd"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="address" property="address"/>
        <result column="advisory" property="advisory"/>
        <result column="images" property="images"/>
        <result column="details" property="details"/>
        <result column="recommend" property="recommend"/>
        <result column="notice" property="notice"/>
        <result column="quota" property="quota"/>
        <result column="refund_info" property="refundInfo"/>
        <association property="club" javaType="com.acsc.commons.entity.Club">
            <id column="club_id" property="clubId"/>
            <result column="club_name" property="clubName"/>
        </association>
        <collection property="packages" ofType="com.acsc.commons.entity.ActivityPackage">
            <id column="package_id" property="packageId"/>
            <result column="package_title" property="title"/>
            <result column="price" property="price"/>
            <result column="activity_id" property="activityId"/>
        </collection>
    </resultMap>

    <select id="queryAll" resultType="com.acsc.api.entity.Activitys">
        select t1.activity_id activityId,t1.title, begin_time beginTime,create_time createTime, address, images, min(price) minprice
        from t_activity t1 left join t_activity_package t2 on t1.activity_id = t2.activity_id
        <if test="orderby!= ''and orderby!= null ">
            order by #{orderby}
        </if>
        limit #{begin},#{limit}
    </select>

    <select id="queryByActivityId" resultMap="activity">
        select t1.activity_id, t1.title, apply_begin, apply_end, begin_time, end_time,quota-(SELECT count(id) FROM t_user_activity WHERE activity_id = #{activityId}) quota, address, advisory, images, details, recommend, notice, t1.club_id, t2.club_name, package_id, t3.title package_title ,price, refund_info
        from t_activity t1 left join t_club t2 on t1.club_id = t2.club_id left join t_activity_package t3 on t1.activity_id = t3.activity_id
        where t1.activity_id = #{activityId}
    </select>

    <select id="queryActivityNum" resultType="java.lang.Integer">
        select count(activity_id) from t_activity
    </select>

    <select id="queryByKeyword" resultType="com.acsc.api.entity.Activitys">
        select t1.activity_id activityId,t1.title, begin_time beginTime,create_time createTime, address, images, min(price) minprice
        from t_activity t1 left join t_activity_package t2 on t1.activity_id = t2.activity_id
        where t1.title LIKE "%"#{keyword}"%"
        limit #{begin},#{limit}
    </select>

    <select id="queryActivityNumByKeyword" resultType="java.lang.Integer">
        select count(activity_id) from t_activity
         where title LIKE "%"#{keyword}"%"
    </select>
</mapper>
