<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acsc.manager.dao.AdminDAO">

    <select id="queryByUsername" resultType="com.acsc.commons.entity.Admin">

        select admin_id adminId, username, passwd, salt, email, mobile, name, status
        from t_admin
        where username = #{username}

    </select>



</mapper>