<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acsc.manager.dao.MenuDAO">

    <select id="queryByRoleId" resultType="com.acsc.commons.entity.Menu">
        select menu_id, parent_id, name, url, perms, type, icon, order_num, create_time, update_time
        from t_role_menu t1 left join t_menu t2 on t1.menu_id = t2.menu_id
        where t1.role_id = #{roleId}
    </select>

</mapper>